
        * {

            margin: 0;
            padding: 0;

        }

        body{
            background-color: rgb(255, 255, 255);
        }

        :root {
            --anchoInputText: 20em;

        }

        header {

            background-color: rgb(49, 49, 49);
            height: 3em;
            color: white;
            font-size: 40px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            text-align: center;
                        
        }

        input[type=checkbox],
        input[type=radio] {
            height: 1.5em;
            width: 1.5em;
            text-align: center;
            margin-right: 25px;
        }

        /* input[type=date],
        input[type=text]{

            border: none;
            border-bottom:rgb(230, 55, 25) 2px solid;
            background-color: white;            
            
        } */

        input, input:focus{
            border: none;
            /* border-bottom: green 2px solid; */
            background-color: white;
            outline: 0;
            text-align: center;
        }

        input:empty{
            border-bottom: rgb(240, 36, 0) 2px solid;
        }

        .inputComplete{
            border-bottom: rgb(33, 124, 15) 2px solid;
        }
        

        .borde {

            border: 1px solid lightgrey;
            border-radius: 10px;
            margin-top: 2%;
        }



        .grid-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1r;
            gap: 0px 20px;
            grid-template-areas:
                "fechas"
                "edad"
                "incapacidad";
            width: 47vw;
            min-width: min-content;
            float: left;

        }

        .fechas {
            grid-area: fechas;
            
        }

        .edad {
            grid-area: edad;
            

        }

        .incapacidad {
            grid-area: incapacidad;
            
        }

        .grid-container2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0px 20px;
            width: 47vw;
            float: right;
            grid-template-areas:
                "ibm1"
                "imb2"
                "ibm3";
            /* margin-left: 10px; */
            min-width: min-content;

        }



        .ibm1 {
            grid-area: 1 / 1 / 2 / 2;
                       
        }

        .ibm2 {
            grid-area: 2 / 1 / 3 / 2;
            
            
        }

        .ibm3 {
            grid-area: 3 / 1 / 4 / 2;
            
        }

        .encabezado {

            width: 100%;
            height: auto;
            font-size: 35px;
            /* font-weight: bold; */
            color: white;
            text-align: start;
            border-radius: 10px 10px 0 0;
            margin-bottom: 1.8em;
            background-image: linear-gradient(to right, rgb(94,93,93), rgb(197, 194, 194));
        }

        .ibm1, .ibm2, .ibm3, .edad,.fechas,.incapacidad{

            max-height: 300px;
            /* height: 200px; */
            min-height: 250px;
            background-color: white;
        }

        .ibm1:hover,
        .ibm2:hover,
        .ibm3:hover,
        .edad:hover,
        .fechas:hover,
        .incapacidad:hover{
            border-color: rgb(13, 214, 164);
            border-width: 2px;
            box-shadow: 10px 10px 10px rgb(188, 192, 196) ;
        }
    